# =========================
# Frontend API Base URLs
# =========================
VITE_AUTH_API_BASE_URL=/api/auth
VITE_MARKET_OVERVIEW_API_BASE_URL=/api/tsetmc
VITE_TSETMC_API_BASE_URL=/api/tsetmc
VITE_FIPIRAN_API_BASE_URL=/api/fipiran
VITE_SYMBOL_SEARCH_API_BASE_URL=/api/market-search
VITE_CODAL_API_BASE_URL=/api/codal

# =========================
# Frontend API Paths
# =========================
VITE_MARKET_OVERVIEW_API_PATH=/overview/{marketId}
VITE_SYMBOL_SEARCH_API_PATH=/symbols?query={query}
VITE_TSETMC_CLOSING_PRICE_API_PATH=/instruments/{instrumentCode}/closing-price
VITE_TSETMC_INSTRUMENT_INFO_API_PATH=/instruments/{instrumentCode}/info
VITE_TSETMC_BEST_LIMITS_API_PATH=/instruments/{instrumentCode}/best-limits
VITE_TSETMC_CLIENT_TYPE_API_PATH=/instruments/{instrumentCode}/client-type/0/0
VITE_TSETMC_CODAL_NOTICES_API_PATH=/codal/instruments/{instrumentCode}/notices/{limit}
VITE_FIPIRAN_SNAPSHOT_API_PATH=/instruments/snapshot?instrumentCode={instrumentCode}
VITE_FIPIRAN_FUNDS_API_PATH=/funds?pageIndex={pageIndex}&pageSize={pageSize}&search={search}
VITE_FIPIRAN_FUND_DETAILS_API_PATH=/funds/details?registrationNumber={registrationNumber}
VITE_CODAL_NOTICES_API_PATH=/codal/notices?{queryString}

# =========================
# Frontend Refresh / Timing (ms)
# =========================
VITE_SYMBOL_SEARCH_DEBOUNCE_MS=2500
VITE_TSETMC_CLOSING_PRICE_REFRESH_MS=10000
VITE_TSETMC_INSTRUMENT_INFO_REFRESH_MS=10000
VITE_TSETMC_BEST_LIMITS_REFRESH_MS=10000
VITE_TSETMC_CLIENT_TYPE_REFRESH_MS=50000
VITE_FIPIRAN_SNAPSHOT_REFRESH_MS=30000
VITE_FIPIRAN_FUND_SUMMARY_REFRESH_MS=10000
VITE_FIPIRAN_FUND_DETAILS_REFRESH_MS=10000
VITE_MARKET_OVERVIEW_REFRESH_MS=10000
VITE_CODAL_NOTICES_REFRESH_MS=30000

# =========================
# Vite Dev Proxy Targets
# =========================
VITE_MARKET_OVERVIEW_PROXY_TARGET=http://localhost:9000
VITE_FIPIRAN_PROXY_TARGET=http://localhost:9001
VITE_CODAL_PROXY_TARGET=http://localhost:9002
VITE_AUTH_PROXY_TARGET=http://localhost:9003
VITE_MARKET_SEARCH_PROXY_TARGET=http://localhost:9003
VITE_API_ERROR_RETRY_MS=60000
